
@font-face {
    font-family: open;
    src: url(fonte/OpenSans-VariableFont_wdth\,wght.ttf);

}

@font-face {
    font-family: poppins;
    src: url(fonte/Poppins-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(fonte/Poppins-Regular.ttf);
}

@font-face {
    font-family: robotoB;
    src: url(fonte/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoR;
    src: url(fonte/Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* CABEÇALHO UM */

 header .email{
    font-family: open;
    color: white;
    font-size: 22px;
    margin-left: 200px;
    margin-right: 230px;
    font-weight: 350;
}

#azul{
    display: flex;
    align-items: center;
    height: 53.4px;
    background-color: #106eea;
    justify-content: space-between;
}

/* CABEÇALHO DOIS */

header .menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 180px; 
    margin-left: 35px;
}

h1{
    font-family: poppins;
    font-size: 50px;
}

.inicio{
    font-family: open;
    font-size: 25px;
    justify-content: space-evenly;
    margin-left: 40px;
    display: flex;
    width: 700px;
}

a{
    color:black;
    text-decoration: none;
}

/* IMAGEM DE FUNDO  */

.img{
    background-image: url(img/fundo.png);
    height: 480px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
   
}

h2{
    font-family: poppins;
    font-size: 66px;
    margin-left: 900px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.vidro{
    font-family: regular;
    font-weight: 300;
    font-size: 40px;
    margin-left: 910px;
    line-height: 20px;
}

span{
    color: #1772ea;
}


.texto{
font-family: open;
font-size: 20px;
width: 480px;
text-align: justify;
}

h3{
    font-family: robotoB;
    font-size: 31px;
    margin-bottom: 5px;
}

.equipe{
    height: 609px;
    margin-left:40px ;
    border-radius: 10px;
}

.homem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

#textoos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:40px ;
}


/* QUADRADOS */

.icon{
    height: 100px;
    margin-bottom: 30px;
}

.quadrados{
    display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
}

.p01{
height: 244px;
width: 254px;
background-color: #F1F6FE;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
border-radius: 10px;
border: #8CA9CE solid 1px;
margin-left: 20px;
}

.quadro{
    font-family: robotoR ;
   font-weight: 400;
}

.texxto{
    font-family: open;
    font-size: 20px;
    text-align: center;
    width: 720px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    }

    .h3{
    margin-top: 150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }


    .servico{
        font-family: robotoB;
        font-size: 20px;
    }


    .h02{
        height: 194px;
        width: 274px;
        background-color: #F1F6FE;
        border:#8CA9CE solid 1px ;
        margin: 20px 70px;
        border-radius: 10px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
    }

    .container{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* PARTE DA LINHA */

    .linha{
        height: 2px;
        margin-top: 100px ;
        background-color: #1150A3;
    }

    /* equipe */

    .pessoas{
        align-items: center;
        justify-items: center;
        display: flex;
        padding: 5px 280px 5px 320px;
        margin-top: 100px;
    }

    .P01{
        align-items: center;
        display: flex;
        flex-direction: column;
       border: black solid 2px;
       border-radius: 10px;
       margin:5px 20px 5px 20px ;
    }


    .people{
        height: 555px;
        margin: 0px 0px 30px 0px;
        border-radius: 10px;
    }
    
    h4{
       
        font-family: poppins;
        font-size: 20px;
    }

    .Tequipe{
        font-family: robotoR;
        line-height: 15px;
        margin-bottom: 30px;
    }

    .texxtto{
        font-family: open;
        font-size: 20px;
        text-align: center;
        width: 900px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 80px 10px 0px 300px ;
        }


        /* Parte da mensagem */

        .endereco{
            width: 318px;
            height: 330px;
            border: #8CA9CE solid 3px;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
        }

        .neg{
            font-family: robotoB;
            font-size: 25px;
        }

        .nor{
            font-family: robotoR;
            font-size: 25px;
            text-align: center;
            width: 250px;
        }

        .nome{
            height: 53px;
            width: 280px;
            background-color: #E5E5E5;
            color: black;
            border-radius: 15px;
            padding-left: 20px;
            font-family: robotoR;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 15px;
            
        }

        main .email{
            height: 53px;
            width: 280px;
            background-color: #E5E5E5;
            color:black;
            border-radius: 15px;
            padding-left: 20px;
            font-family: robotoR;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 15px;
            margin-left: 10px;
        }


        
        .assunto{
            height: 53px;
            width: 589px;
            background-color: #E5E5E5 ;
            color: black;
            border-radius: 15px;
            padding-left: 20px;
            font-family: robotoR;
            margin-left: 5px;
            font-size: 20px;
            font-weight: 400; 
            margin-bottom: 15px;
        }
        input::placeholder{
            color: #C1C1C1
        }

        textarea::placeholder{
            color: #C1C1C1
        }
        .mensagem{
            height: 130px;
            width: 587px;
            background-color: #E5E5E5;
            color:black;
            border-radius: 15px;
            padding-left: 20px;
            font-family: robotoR;
            font-size: 20px;
            font-weight: 400; 
            margin-bottom:15px ;
       
        }

        button{
            height: 50px;
            width: 260px;
            background-color: #106EEA;
            color: white;
            border-radius: 15px;
            font-family: robotoR;
            font-size: 20px;
            margin-bottom: 20px;
        }


        .textbox{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 250px;
        }

        .tre{
            display: flex;
            align-items: center;
            justify-content: center;  
          
        }

        .inscricao{
            display: flex;
          align-items: center;
          justify-content: center;
         margin-top: 100px;
        }


        /* FOOTER */

        footer{
            background-color: #1150a3;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
        }
        

        footer .menu{
          display: flex;
          flex-direction: column;  
          font-family: open;
          font-size: 20px;
          text-align: center;
        }

        footer section{
            display: flex;
        
        }

        footer a{
            color: white;
        }
        
        footer  h4{
            font-family: open;
            font-size: 25px;
            color: white;
        }

        .Uicone{
            height: 50px;
        }

        .Sicone{
            margin-top: 30px;
        }

        footer .menu{
          margin-right: 650px;
        }


        html{
            scroll-behavior: smooth;
        }